* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* portada */
.portada__titulo {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

/* Animaciones */
.portada__titulo--animacion {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.tarjeta {
  border: 2px rgb(0, 0, 0) solid;
  background-color: rgb(0, 0, 0);
}
.tarjeta__img {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.tarjeta__img:hover {
  transform: scale(1.05);
}
.tarjeta__titulo {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
}

/* HEADER */
.header__titulo {
  position: absolute;
  z-index: -1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(233, 19, 129);
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: rgb(255, 255, 255);
}

.seccionsegunda {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-align: justify;
}
.seccionsegunda__parrafo {
  color: rgb(255, 255, 255);
  margin: 5px;
}

/* seccion 2 */
.seccion__img {
  width: 100%;
}

/* sedes/clases */
.tarjetagenerica {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.tarjetagenerica__titulo {
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 2.5px;
}
.tarjetagenerica__titulo:hover {
  transform: scale(1.03);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.tarjetagenerica__descripcion {
  font-style: italic;
  margin-left: 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 5px;
}
.tarjetagenerica__mapa {
  margin-left: 10px;
  margin-bottom: 10px;
}
.tarjetagenerica__img {
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

/* contacto */
.form {
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
}
.form__caja {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-left: 500px;
}
.form__titulos {
  padding-right: 10px;
  font-size: 1rem;
}

.third {
  border-color: #ffffff;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 40px 40px rgba(1, 1, 1, 0.4823529412) inset, 0 0 0 0 rgba(57, 56, 56, 0.4823529412);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 rgba(57, 56, 56, 0.4823529412) inset, 0 0 10px 4px rgba(57, 56, 56, 0.4823529412);
}

.staffprofes {
  width: 80%;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 10px;
  align-items: center;
}
.staffprofes__nombre {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}
.staffprofes__img {
  border-radius: 10px;
  width: 80%;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.829);
}
.staffprofes__descrip {
  text-align: justify;
  color: rgb(0, 0, 0);
  padding: 15px;
}
.staffprofes .card--animada {
  -webkit-animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-9 20:13:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.imagen:hover {
  filter: opacity(0.5);
}

.card--animada {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-9 20:5:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
