* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif */
    font-family: 'Nunito', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */
.header__titulo{
    position: absolute;
    z-index: -1;
}

/* .header{
     position: absolute;
    z-index: 1;
    position: sticky;
    top: 0px  
} */


.navbar-light .navbar-nav .nav-link.active{
    color: rgb(233, 19, 129);
    font-weight: bold;
    
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
}

/* portada */
 .portada__titulo {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    font-size: 1rem; 
}

.tarjeta {
    border: 2px black solid;
    background-color: black;
}

.tarjeta__img {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
} 

 .tarjeta__titulo {
    text-align: center;
     color: white;
    /* font-size: 1rem; */
    padding: 10px;
}
.tarjeta__img:hover{
    transform: scale(1.05);
}

/* seccion 2 */
.seccionsegunda__parrafo {
    color: white;
    font-size: 0.80rem;
    margin: 5px;
} 

.seccionsegunda {
    background-color: black;
    padding: 10px; 
    text-align:justify  ;
}

.seccion__img {
    width: 100%;
}

@media (min-width:1200px)
{ 
    .portada__titulo{
    font-size: 2rem}

    .seccionsegunda__parrafo {
        font-size: 1rem;
}
}

/* sedes/clases */
.tarjetagenerica {
    display: flex;
    flex-direction: column; 
    background-color: black;
}

.tarjetagenerica__titulo {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bolder;
    margin-left: 10px;
    margin-right:10px ;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    margin-top: 10px;
    background-color:white;
    border-radius: 10px;
    padding: 2.5px; 
   
}
.tarjetagenerica__titulo:hover {
    transform:scale(1.03);
    background-color: rgb(0, 0, 0);
    color: white ;  
}

.tarjetagenerica__descripcion {
    font-style: italic;
    margin-left: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    background-color:black;
    color: white;
    margin-top: 5px;
}

.tarjetagenerica__mapa {
    margin-left: 10px;
    margin-bottom: 10px;
}

.tarjetagenerica__img {
    width: 100vh;
    margin-left: 10px;
    margin-bottom: 10px;

}

/* staff */
.staff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.staffprofes {
    width: 25%;
    border-radius: 20px;
    border-color: black;
    background-color: black;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staffprofes__nombre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    text-align: center;
}

.staffprofes__img {
    border-radius: 10px;
}

.staffprofes__descrip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80rem;
    text-align: center;
    color: white;
    padding: 5px;
}

/* contacto */
.form {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    background-color: black;

}

.form__caja {
    background-color: black;
    color: white;
     padding: 5px; 
     margin-left: 500px;

}

.form__titulos {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    font-size: 1rem;
} 

/* Animaciones */
.portada__titulo--animacion 
    {
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  

