.card--modificada {
  background-color: $tarjeta;
  color: $color-secundario;
  font-weight: bold;

}

.imagen:hover {
  filter: opacity(.5);
}

.card-title--modificada {
  font-weight: bold;
  font-style: italic;
}