.seccionsegunda {
    background-color:$color-principal;
    padding: 10px;
    text-align: justify;

    &__parrafo {
        color: $color-secundario;
        margin: 5px;
    }
}
/* seccion 2 */
.seccion__img {
    width: 100%;
}




