.seccionsegunda {
    padding: 5px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.060);
    &__parrafo {
        color: $color-secundario;
        font-weight: bolder;
        text-align: center;
    }
}

// <!-- Imagenes desktop-->
.seccion__img {
    width: 100%;

}
