/* sedes/clases */
.tarjetagenerica {
    display: flex;
    flex-direction: column;
    background-color: $color-principal;

    &__titulo {
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 10px;
         color: $color-principal;
        margin-top: 10px;
        background-color: $color-secundario;
        border-radius: 10px;
        padding: 2.5px;

        &:hover {
            transform: scale(1.03);
            background-color: $color-principal;
            color:$color-secundario;
        }
    }

    &__descripcion {
        font-style: italic;
        margin-left: 10px;
        font-size: 1rem;
        margin-bottom: 5px;
        background-color: $color-principal;
        color:$color-secundario;
        margin-top: 5px;
    }

    &__mapa {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    &__img {
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}