.btn {
  margin-top: auto;
  background-color: $color-block;
  font-weight: bold;
   color: $color-principal;  
   border-color: $color-principal;

  &:hover{
    background-color: $color-principal;
    color: $color-block;
    border-color: $color-block;
    
  }
}