.tarjeta {

    &__img {
        width: 100%;
        padding: 10px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.060);
        margin-top: 10px;
    

        &:hover {
            transform: scale(1.05);
            background-color:$color-secundario;
   
                    }
    }

    &__titulo {
        text-align: center;
        font-weight: bold;
        color:$color-secundario;
        padding: 10px;
        
    }
}

