* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
.fondo {
    background-image: url(/images/fondo/fondopaginas.jpg);
    background-size: cover;
    background-attachment: fixed;


}
/* portada */
.portada__titulo {
    text-align: center;
    font-weight: bolder;
    //  margin-top: 30px;
    color: $color-secundario;
    background-color:rgba(255, 255, 255, 0.060);
    margin-bottom: 30px;
    padding: 5px // text-shadow: 2px 2px #a6d3a7;

}
.portada__titulo--modificador{
    text-align: center;
font-weight: bolder;
//  margin-top: 30px;
color: $color-secundario;
// background-color:rgba(255, 255, 255, 0.060);
margin-bottom: 30px;
padding: 5px // text-shadow: 2px 2px #a6d3a7;
}


/* Animaciones */
.portada__titulo--animacion {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.portada--img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: radial-gradient(rgb(255, 255, 255) 45%, transparent 70%)
}

.portada--img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(transparent 60%, rgba(255, 255, 255, 0.166) 70%), url(/images/fondo/fondoprincipal.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
}


